{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "semi": true,
  "quoteProps": "consistent"
}
